
/* -------------------------------Menu nav bar CSS */
/* Resize images */
.logoImage  img {
    width: 60px;
    height: auto;
    border-radius: 80%;
}

.MenuKontoButtons {
  /* margin: auto; */
  margin-left: 10px;
  width: 130px;
  text-align: center;
  font-size: small;
}
.dropdownMenuEdit{
  width:300px;
}
.dropDownMenuJustLi{
  text-align: center;
}
/* -------------------------------Carousel css */
#ads{
  height: 500px;
}
.container-ads{
  /* padding:2% 5%; */
  border-radius: 10%;
  margin: 1% 5%;
  height: 300px;
}
.container-ads img{
  border-radius: 26%;
  height: 450px;
}
.container-ads p{
  font-size: large;
}
/* -------------------------------recommended css */
.GoracyStrzal{
  padding: 3%;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 20%;
}
.GoracyStrzal .m1 img{
    max-width: 350px;
    max-height: auto;
}
.GoracyStrzal .m2{
  text-align: center;
}
.GoracyStrzal .m2 .OldPrize{
  text-decoration: line-through;
}
.recommendedProducts img{
  max-width: 200px;
  max-height: 200px;
}
.recommendedProducts .m1{
  height: 220px;
  padding: 10px;
}
.recommendedProducts .m2 {
  text-align: center;
}
